<h2 class="main__title">Assignments</h2>
<article id="assignment1" class="assignment" data-name="slab-stat">
  <dl class="assignment__object">
    <dd class="assignment__object--name">name</dd>
    <dd class="assignment__object--value">A1: Tic Tac Toe</dd>
  </dl>
  <dl class="assignment__object">
    <dd class="assignment__object--name">Team Size</dd>
    <dd class="assignment__object--value">Individual</dd>
  </dl>
  <dl class="assignment__object">
    <dd class="assignment__object--name">Due Date</dd>
    <dd class="assignment__object--value">31 Jan 2017</dd>
  </dl>
  <dl class="assignment__object">
    <dd class="assignment__object--name">Days Left</dd>
    <dd class="assignment__object--value"><span class="noWarning">22</span></dd>
    <!-- red if num is less than 5 -->
  </dl>
  <dl class="assignment__object">
    <dd class="assignment__object--name">Weight</dd>
    <dd class="assignment__object--value">5%</dd>
  </dl>
  <div>
    <a href="#0" class="assignment__link">
      <span class="pr1">View A1</span>
      <svg class="assignment__link--arrow" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronRight icon</title>
        <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
      </svg>
    </a>
  </div>
</article>
<article id="assignment2" class="assignment" data-name="slab-stat">
  <dl class="assignment__object">
    <dd class="assignment__object--name">name</dd>
    <dd class="assignment__object--value">A2: Tic Tac Toe</dd>
  </dl>
  <dl class="assignment__object">
    <dd class="assignment__object--name">Team Size</dd>
    <dd class="assignment__object--value">Individual</dd>
  </dl>
  <dl class="assignment__object">
    <dd class="assignment__object--name">Due Date</dd>
    <dd class="assignment__object--value">31 Jan 2017</dd>
  </dl>
  <dl class="assignment__object">
    <dd class="assignment__object--name">Days Left</dd>
    <dd class="assignment__object--value"><span class="warning">5</span></dd>
    <!-- red if num is less than 5 -->
  </dl>
  <dl class="assignment__object">
    <dd class="assignment__object--name">Topics</dd>
    <dd class="assignment__object--value">Strings, if statements, loops</dd>
  </dl>
  <dl class="assignment__object">
    <dd class="assignment__object--name">Weight</dd>
    <dd class="assignment__object--value">5%</dd>
  </dl>
  <div>
    <a href="#0" class="assignment__link">
      <span class="pr1">View A2</span>
      <svg class="assignment__link--arrow" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronRight icon</title>
        <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
      </svg>
    </a>
  </div>
</article>
