<h2 class="f2 fw7 pl3">Course Calendar</h2>
<section>
<div class="pa3">
  <label for="week_filter" class="db">week filter</label>
  <input class="f5 pv1 pa2" type="text" name="week_filter" placeholder="e.g. 1-3,7" id="week_filter">
</div>
<div id="week-links">
<div id="week-1"  class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">
  Week 1
</div>
<div id="week-2"  class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 2</div>
<div id="week-3"  class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 3</div>
<div id="week-4"  class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 4</div>
<div id="week-5"  class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 5</div>
<div id="week-6"  class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 6</div>
<div id="week-7"  class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 7</div>
<div id="week-8"  class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 8</div>
<div id="week-9"  class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 9</div>
<div id="week-10" class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 10</div>
<div id="week-11" class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 11</div>
<div id="week-12" class="f4 link tc mh2 pointer dim hover-bg-washed-blue dib pv2 ba w5-ns w-90 mb2">Week 12</div>
</div>  
  <div>
    conte
  </div>
</section>
