<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="./static/css/normalize.css">
  <link rel="stylesheet" href="./static/css/tachyons.css">
  <link rel="stylesheet" href="./static/css/course-pages.css">
  <title>Course Pages</title>
</head>
<body>
  <!-- The sidebar takes 1/4 of the width -->
  {% include 'sidebar.html' %}

  <section class="w-75-ns w-100 pl2 fr-ns ph3-ns mvh-100 ov-y-scroll bg-white pb5">
    <!--
      Include things here
    -->
    {% include 'coursedescription.html' %}
    {% include 'calendar.html' %}
    {% include 'assignments.html' %}
  </section>

  <script src="./static/js/filter.js"></script>
  <!-- <script src="/static/js/current-week.js"></script> -->
</body>
</html>
