<div class="sidebar">
  <header class="sidebar__header">
    <h1 class="sidebar__header--courseCode">CSC108</h1>
    <h2 class="sidebar__header--courseName">Introduction to Computer Programming</h2>
    <h3 class="sidebar__header--courseTerm">Winter 2017</h3>
  </header>
  <nav class="">
    <div class="sidebar__filter">
      <input class="sidebar__filter--input"
             type="text"
             name="sidebar-input"
             id="sidebar-input"
             placeholder="filter"
             value="" />
    </div>
    <ul class="sidebar__list" id="sidebar-search">
      <li class="sidebar__list--itemwrapper">
        <a class="sidebar__list--sublist__label" href="#">Home</a>
        <ul class="sidebar__list--sublist">
          <li class="sidebar__list--item">
            <a class="sidebar__list--link" href="#">Online vs On-campus</a>
          </li>
          <li class="sidebar__list--item">
            <a class="sidebar__list--link" href="#">Textbook</a>
          </li>
        </ul>
      </li>
      <li class="sidebar__list--item">
        <a class="sidebar__list--link" href="#">Assignemtns</a>
      </li>
      <li class="sidebar__list--item">
        <a class="sidebar__list--link" href="#">Syllabus</a>
      </li>
      <li class="sidebar__list--item">
        <a class="sidebar__list--link" href="#">Lectures</a>
      </li>
    </ul>
  </nav>
</div>
