<h2 class="f2 fw7 pl3">Course Team</h2>
<div class="profile">
  <div class="profile__img--wrapper">
    <img src="static/images/theo.jpg" class="profile__img" title="Photo of a kitty staring at you">
    <h1 class="profile__name">Theo Poenaru</h1>
    <hr class="profile__separator">
  </div>
  <p class="profile__description">
  3rd year CS &amp; Stats undergrad. Converter of coffee into code. 
  </p>
</div>
<div class="profile">
  <div class="profile__img--wrapper">
    <img src="static/images/theo.jpg" class="profile__img" title="Photo of a kitty staring at you">
    <h1 class="profile__name">Theo Poenaru</h1>
    <hr class="profile__separator">
  </div>
  <p class="profile__description">
  3rd year CS &amp; Stats undergrad. Converter of coffee into code. 
  </p>
</div>
<div class="profile">
  <div class="profile__img--wrapper">
    <img src="static/images/theo.jpg" class="profile__img" title="Photo of a kitty staring at you">
    <h1 class="profile__name">Theo Poenaru</h1>
    <hr class="profile__separator">
  </div>
  <p class="profile__description">
  3rd year CS &amp; Stats undergrad. Converter of coffee into code. 
  </p>
</div>
<div class="profile">
  <div class="profile__img--wrapper">
    <img src="static/images/theo.jpg" class="profile__img" title="Photo of a kitty staring at you">
    <h1 class="profile__name">Theo Poenaru</h1>
    <hr class="profile__separator">
  </div>
  <p class="profile__description">
  3rd year CS &amp; Stats undergrad. Converter of coffee into code. 
  </p>
</div>
<div class="profile">
  <div class="profile__img--wrapper">
    <img src="static/images/theo.jpg" class="profile__img" title="Photo of a kitty staring at you">
    <h1 class="profile__name">Theo Poenaru</h1>
    <hr class="profile__separator">
  </div>
  <p class="profile__description">
  3rd year CS &amp; Stats undergrad. Converter of coffee into code. 
  </p>
</div>
<div class="profile">
  <div class="profile__img--wrapper">
    <img src="static/images/theo.jpg" class="profile__img" title="Photo of a kitty staring at you">
    <h1 class="profile__name">Theo Poenaru</h1>
    <hr class="profile__separator">
  </div>
  <p class="profile__description">
  3rd year CS &amp; Stats undergrad. Converter of coffee into code. 
  </p>
</div>
<div class="profile">
  <div class="profile__img--wrapper">
    <img src="static/images/theo.jpg" class="profile__img" title="Photo of a kitty staring at you">
    <h1 class="profile__name">Theo Poenaru</h1>
    <hr class="profile__separator">
  </div>
  <p class="profile__description">
  3rd year CS &amp; Stats undergrad. Converter of coffee into code. 
  </p>
</div>
<div class="profile">
  <div class="profile__img--wrapper">
    <img src="static/images/theo.jpg" class="profile__img" title="Photo of a kitty staring at you">
    <h1 class="profile__name">Theo Poenaru</h1>
    <hr class="profile__separator">
  </div>
  <p class="profile__description">
  3rd year CS &amp; Stats undergrad. Converter of coffee into code. 
  </p>
</div>
<div class="profile">
  <div class="profile__img--wrapper">
    <img src="static/images/theo.jpg" class="profile__img" title="Photo of a kitty staring at you">
    <h1 class="profile__name">Theo Poenaru</h1>
    <hr class="profile__separator">
  </div>
  <p class="profile__description">
  3rd year CS &amp; Stats undergrad. Converter of coffee into code. 
  </p>
</div>
<div class="profile">
  <div class="profile__img--wrapper">
    <img src="static/images/theo.jpg" class="profile__img" title="Photo of a kitty staring at you">
    <h1 class="profile__name">Theo Poenaru</h1>
    <hr class="profile__separator">
  </div>
  <p class="profile__description">
  3rd year CS &amp; Stats undergrad. Converter of coffee into code. 
  </p>
</div>
