.bg-golden-brown { background-color: 	 rgba(194, 193, 49, 0.7)}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}