/* >>>> OLD CSS */
.bg-golden-brown { background-color: 	 rgba(194, 193, 49, 0.7)}

.tj {
  text-align: justify;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-item {
  -webkit-flex: auto;
  flex: auto;
}

/* >>>> END OLD CSS */
:root {
  --main-bg-color: white;
  --sidebar-bg-color: #f6fffe;
  --text-color: #333;
  --sidebar-text-color: #333;
}

/* body, html { font-size: 16px; } */



/* 
 * TYPOGRAPHY
 * See docs/text.md
 */
h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }


/* docs/text.md#paragraph */
p {
  max-width: 34em;
  line-height: 1.5;
}

/* docs/links.md#links */
a {
  text-decoration: none;
  color: #357edd;
}

/* docs/text.md#links */
.link {
  color: #357edd;
  text-decoration: none; 
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
}
.link:link, .link:visited {
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
}
.link:hover {
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
}
.link:active {
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
}
.link:focus {
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

.sidebar {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
  background-color: var(--sidebar-bg-color);
}

.sidebar__header--courseCode {
  font-weight: 500;
  margin-bottom: 0;
}

.sidebar__header--courseName {
  font-weight: 400;
  font-size: 1rem;
  color: gray;
  letter-spacing: 0.1em;
}
/* f3 fw5 gray-80 */

.sidebar__header--courseTerm {
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, .8);
}

/* on a small screen, we _dont_ want to filter */
.sidebar__filter {
  display: none;
}

.sidebar__list {
  list-style-type: none;
  margin:0;
  padding: 0;
}

.sidebar__list--item,
.sidebar__list--itemwrapper {
  padding: 0; 
  margin: 0;
  display: inline-block;
}

.sidebar__list--item:hover {
  background-color: white;
}
.sidebar__list--item {
  padding: 1rem;
  margin: 0;
}

.sidebar__list--sublist {
  list-style-type: none;
  padding: 0;
}

.sidebar__list--sublist__wrapper {
  padding: 0;
  margin: 0;
}

.sidebar__list--sublist__label { display: none; }

.weeks { }
.weeks__filter {}
.weeks__filter--label {}
.weeks__filter--input {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.week {
  display: inline-block;
  color: #357edd;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid black;
  width: 90%;
  margin-bottom: 0.5rem;
  opacity: 1;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in; 
  cursor: pointer;
}
.week:hover {
  border-color: #357edd;
  opacity: .5;
  /* -webkit-transition: opacity .15s ease-in; */
  /* transition: opacity .15s ease-in; */ 
  background-color: #f6fffe;
}
.week:focus {
  border-color: #357edd;
  opacity: .5;
  /* -webkit-transition: opacity .15s ease-in; */
  /* transition: opacity .15s ease-in; */ 
  background-color: #f6fffe;
}
.week:active {
  border-color: #357edd;
 opacity: .8;
 /* -webkit-transition: opacity .15s ease-out; */
 /* transition: opacity .15s ease-out; */
}
/* Large Screens (desktops, laptops) */
@media screen and (min-width: 53rem) {
  /*
   * SIDEBAR
   */
.sidebar {
  position: fixed;
  width: 25%;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
  float: left;
  /* removing small settings */
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
}
.sidebar__filter {
  display: block;
}

.sidebar__list,
.sidebar__list--sublist {
  list-style: initial;
  list-style-type:none; 
  /* margin:0; */
  padding: 0.5rem;
}

.sidebar__list--item,
.sidebar__list--itemwrapper {
  /* margin: 0; */
  display: list-item;
  padding: 0.875rem;
  padding-right: 0;
  /* padding-left: 1rem; */
}

.sidebar__list--itemwrapper {
  padding-bottom: 0;
}

.sidebar__list--link:hover {
  background-color: white;
  cursor: pointer;
}
.sidebar__list--item {
  /* padding: 1rem; */
}

.sidebar__list--item {
  margin: 0;
}

.sidebar__list--sublist {
  list-style-type: none;
}

.sidebar__list--sublist__wrapper {
  padding: 0;
  margin: 0;
}

.sidebar__list--sublist__label {
  display: inline-block;
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.sidebar__list--sublist__label:hover {
  background-color: white;
}
.week { width: 16rem; }

/* sidebar header 
 * h1: f1 fw5 black
 * h2: f2 fw5 gray
 * 
 */
