:root {
  /* Background colors */
  --main-bg-color: white;
  --sidebar-bg-color: #F7F5E6;
  /* Text Colors */
  --main-text-color: #292929;
  --sidebar-text-color: #52658F;
  --main-link-color: #357edd;
  --sidebar-link-color: #333A56;
}

html, body { height: 100%; }
/* 
 * TYPOGRAPHY
 * See docs/text.md
 */
h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }


/* docs/text.md#paragraph */
p {
  max-width: 50rem;
  line-height: 1.5;
}

/* docs/links.md#links */
a {
  text-decoration: none;
  color: var(--main-link-color);
}

/* docs/text.md */
.text {
  font-size: 1rem;
  max-width: 40rem;
  /* margin-left: 1rem; */
  line-height: 1.5;
}
.text--large { 
  font-size: 1.5rem;
  max-width: 44rem;
  line-height: 1.5;
}
.text--xlarge {
  font-size: 3rem;
  font-weight: 600;
}
.text--center { text-align: center; }

/* docs/text.md#links */
.link {
  color: var(--main-link-color);
  text-decoration: none; 
}
.link:link, .link:visited {
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  outline: 1px dotted currentColor;
}
.link:focus {
  outline: 1px dotted currentColor;
}

/* docs/components.md#button */
.button { 
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border: 1px solid var(--main-link-color);
  transition: all .2s ease-in-out;
  transform: translateZ(0);
  font-weight: bold;
}

.button:hover { transform: scale(1.05); }

.position {}
.position--right { float: right; }

/* clearfix */
.blocks:before,.blocks:after {
  content: " ";
  display: table;
}
.blocks:after { clear: both; }
.blocks { *zoom: 1; }

.block-50 {
  float: left;
  width: 100%; /* 50% on large screens */
}

pre {
  max-width: 50rem;
  font-family: monospace;
  font-size: 16px;
  /* border: 1px solid var(--main-text-color); */
  color: var(--main-text-color);
  background: var(--main-bg-color);
}
pre:before,
.code:before {
  display: block;
  margin-bottom: 0.25rem;
  /* width: calc(100%); */
  /* padding: 3px; */
  text-transform: uppercase;
  content: attr(data-lang);
  color: var(--sidebar-text-color);
  background: var(--sidebar-bg-color);
}

#root {
  display: inline-block;
  background-color: var(--sidebar-bg-color);
}

#sidebarToggle  { display: none; }

.main {
  padding-bottom: 4rem;
  padding-top: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
}

.main__title {
  font-size: 2.25rem;
  font-weight: 700;
}
h1.main__title { letter-spacing: 0.1em; }

.sidebar {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
  background: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
}
.sidebar a { color: var(--sidebar-link-color); }
.sidebar__header--courseCode {
  font-weight: 500;
  margin-bottom: 0;
}
.sidebar__header--courseName {
  font-weight: 400;
  font-size: 1rem;
  color: var(--sidebar-text-color);
  letter-spacing: 0.1em;
}
.sidebar__header--courseTerm {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--sidebar-text-color);
}
/* on a small screen, we _dont_ want to filter */
.sidebar__filter { display: none; }
.sidebar__list {
  list-style-type: none;
  margin:0;
  padding: 0;
}

.sidebar__list--item,
.sidebar__list--itemwrapper {
  padding: 0; 
  margin: 0;
  display: inline-block;
}

.sidebar__list--item:hover {
  background: var(--main-bg-color);
}
.sidebar__list--item {
  padding: 1rem;
  margin: 0;
}

.sidebar__list--sublist {
  list-style-type: none;
  padding: 0;
}

.sidebar__list--sublist__wrapper {
  padding: 0;
  margin: 0;
}

.sidebar__list--sublist__label { display: none; }

.weeks { }
.weeks__filter { }
.weeks__filter--label { }
.weeks__filter--input {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.week {
  display: inline-block;
  width: 90%;
  
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
  border: 1px solid black;
  

  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  
  color: var(sidebar-text-color);

  opacity: 1;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in; 
  cursor: pointer;
}
.week:hover {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  
  opacity: .8;
}
.week:focus {
  color: var(--sidebar-text-color);
  background-color: var(--sidebar-bg-color);
  border-color: #cdd2d8;
  
  opacity: .5;
}
.week:active {
  border-color: #cdd2d8;
  
  opacity: .8;
}

.assignment {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.assignment:hover { opacity: 0.7; }
.assignment__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.assignment__object {
  display: inline-block;
  margin-right: 2rem;
}
.assignment__object--name {
  margin-left: 0;
  
  font-size: 0.875rem;
  font-weight: bold;
}
.assignment__object--value {
  margin-left: 0;

  font-size: 1.5rem;
  font-weight: bold;
}
.assignment__object--value .warning { color: #ff4136; }
.assignment__object--value .noWarning { color: #19a974; }
.assignment__link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--main-text-color);
  padding: 1rem;
  border: 1px solid black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.assignment__link:hover {
  background: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  opacity: .8;
}

.assignment__link--arrow { width: 1rem; }

.profile {
  display: inline-block;
  max-width: 16rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--main-bg-color);
}
.profile__name { font-size: 1.25rem; }
.profile__separator {
 max-width: 4rem;
 border: 0.125rem solid rgba(0, 0, 0, 0.1);
}
.profile__description {
  line-height: 1.5;
  max-width: 30rem;
  margin-right: auto;
  margin-left: auto;
  color: var(--main-text-color);
}
.profile__img {
  border-radius: 100%;
  height: 8rem;
  width: 8rem;
  display: inline-block;
}
.profile__img--wrapper {
  text-align: center;
}

/* Large Screens (desktops, laptops) */
@media screen and (min-width: 53rem) {

  .block-50 { width: 50%; }

  /* 
   * MAIN
   */
  .main {
    width: 75%;
    float: right;
  }


  /*
   * SIDEBAR
   */
  .sidebar {
    position: fixed;
    float: left;
    height: 100%;
    width: 25%;
    top: 0;
    left: 0;
    /* removing small settings */
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    text-align: left;
  }
  .sidebar__header--courseCode { font-size: 3rem; }
  .sidebar__header--courseName { 
    letter-spacing: normal;
    font-size: 1.5rem;
  }
  .sidebar__header--courseTerm { font-size: 1.25rem; }
  .sidebar__filter { display: block; }
  .sidebar__list { height: 50vh; overflow-y: scroll; }
  .sidebar__list,
  .sidebar__list--sublist {
    list-style: initial;
    list-style-type:none; 
    /* margin:0; */
    padding: 0.5rem;
  }
  .sidebar__list--item,
  .sidebar__list--itemwrapper {
    /* margin: 0; */
    display: list-item;
    /* padding-left: 1rem; */
  }
  .sidebar__list--itemwrapper {
    padding: 0.875rem;
    padding-right: 0;
    padding-bottom: 0;
  }
  .sidebar__list--item {
    margin: 0;
    padding: 0;
  }
  .sidebar__list--link {
    padding: 0.875rem;
    padding-right: 0;
    display: block;
  }
  .sidebar__list--link:hover {
    background: var(--main-bg-color);
    cursor: pointer;
  }
  .sidebar__list--sublist { list-style-type: none; }
  .sidebar__list--sublist__wrapper {
    padding: 0;
    margin: 0;
  }
  .sidebar__list--sublist__label {
    display: inline-block;
    width: 100%;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }
  .sidebar__list--sublist__label:hover { background: var(--main-bg-color); }
  
  .week { width: 16rem; }

  .profile { padding: 2rem; }

  .sidebar button:focus {
    outline: none;
    padding-left: 0.25rem;
  }

  #sidebarToggle {
    display: block;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    z-index: 100;
    background-color: var(--sidebar-bg-color);
    border: none;
  }

  .hide {
    padding: 0;
    width: 1rem;
    background-color: var(--sidebar-bg-color);
  }
  .hide * { display: none; }
  .hide button { display: block; }
}
