#csc108 { color: #333; border-color: #333; background-color: #fedcd2; }
#csc121 { color: #333; border-color: #333; background-color: #fff7C0; }
#csc320 { color: #333; border-color: #333; background-color: #b5e582; }
#csc411 { color: #333; border-color: #333; background-color: #CDECFF; }
