#csc108 { color: #333; border-color: #333; background-color: #F6FFFE;}
#csc121 { color: #333; border-color: #333; background-color: #CDECFF;}
#csc320 { color: #333; border-color: #333; background-color: #FFD700;}
#csc411 { color: #333; border-color: #333; background-color: #19A974;}
