<h2 class="f2 fw7 pl3">Course Calendar</h2>
<table class="w-100 collapse tc">
  <tr class="bg-light-blue">
    <td class="b ba pa1">Week</td>
    <td class="b ba pa1">Date</td>
    <td class="b ba pa1">Topic</td>
    <td class="b ba pa1">Readings</td>
    <td class="b ba pa1">Notes</td>
  </tr>
  <tr>
    <td class="ba pa1">1</td>
    <td class="ba pa1">6 Jan</td>
    <td class="ba pa1">Course info<br>Intro to compilers</td>
    <td class="ba pa1">1.1, 1.2</td>
    <td class="ba pa1"></td>
  </tr>
  <tr>
    <td class="ba pa1">2</td>
    <td class="ba pa1">9 Jan</td>
    <td class="ba pa1">Compiler design</td>
    <td class="ba pa1">1.3-1.5</td>
    <td class="ba pa1"></td>
  </tr>
</table>
