<calendar>
  <!-- javascript generated -->
  <a href="link to week 1">week 5</a>
  <a href="link to week 1">week 4</a>
  <a href="link to week 1">week 3</a>
  <a href="link to week 1">week 2</a>
  <a href="link to week 1">week 1</a>
  <!-- end of js generated stuff -->

  <week>
    <!-- <day month="10" year="2017" day="12"> -->
      <h5>topic</h5>
      Topic name
      <h5>reading</h5>
      Slides
      <h5>Notes</h5>
      <p> 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
      </p>
    <!-- </day> -->
  </week>
</calendar>
