<calendar class="db pl3"> 
  <h3 class="f2">Calendar</h3>
  <!-- javascript generated -->
  <a class="link db" href="#week-5">week 5</a>
  <a class="link db" href="#week-4">week 4</a>
  <a class="link db" href="link to week 1">week 3</a>
  <a class="link db" href="link to week 1">week 2</a>
  <a class="link db" href="link to week 1">week 1</a>
  <!-- end of js generated stuff -->

  <week class="db bg-red">
    <article class="pa3 pa5-ns" data-name="slab-stat-small">
  <h3 class="f6 ttu tracked">Week 5</h3>
  <div class="cf">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Topic</dd>
      <dd class="f3 fw6 ml0">For Loops, While Loops</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Readings</dd>
      <dd class="f3 fw6 ml0">1.2, 1.3</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Next Week</dd>
      <dd class="f3 fw6 ml0">Recursion</dd>
    </dl>
    <h5 class="f5">Notes</h5>
      <p class="measure-wide"> 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
      </p>
  </div>
</article>
  </week>
    <div class="bg-yellow">
    <article class="pa3 pa5-ns" data-name="slab-stat-small">
  <h3 class="f6 ttu tracked">Week 4</h3>
  <div class="cf">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Topic</dd>
      <dd class="f3 fw6 ml0">For Loops, While Loops</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Readings</dd>
      <dd class="f3 fw6 ml0">1.2, 1.3</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Next Week</dd>
      <dd class="f3 fw6 ml0">Recursion</dd>
    </dl>
    <h5 class="f5">Notes</h5>
      <p class="measure-wide"> 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
      </p>
  </div>
</article>
  </div>
</calendar>
