<nav class="">
  <header class="">
    <h1 class="">CSC488</h1>
    <h2 class="">Compilers and Interpreters</h2>
  </header>
  <div class="name">
    <input class="" type="text" name="sidebar-input" id="sidebar-input" value="" />
    <ul class="" id="sidebar-search">
        <li class=""><a href="#!">Announcements</a></li>
        <li class=""><a href="#!">Calendar</a></li>
        <li class=""><a href="#!">Syllabus</a></li>
        <li class=""><a href="#!">Lectures</a></li>
        <li class=""><a href="#!">Instructors and TAs</a></li>
        <li class=""><a href="#!">Office Hours</a></li>
        <li id="sb-sublist" class="">
          <a href="#!">Assignments</a>
          <ul>
          <li class=""><a href="#!">Assignment 1</a></li>
          <li class=""><a href="#!">Assignment 2</a></li>
          <li class=""><a href="#!">Assignment 3</a></li>
          <li class=""><a href="#!">Assignment 4</a></li>
          </ul>
        </li>
        <li class="">
          <a href="#!">Tests and Exams</a>
          <ul>
          <li class=""><a href="#!">Midterm 1</a></li>
          <li class=""><a href="#!">Midterm 2</a></li>
          <li class=""><a href="#!">Final Exam</a></li>
          </ul>
        </li>
        <li class=""><a href="#!">Grades</a></li>
        <li class=""><a href="#!">Resources</a></li>
        <li class=""><a href="#!">Feedback</a></li>
        <li class=""><a href="#!">Piazza</a></li>
        <li class=""><a href="#!">Markus</a></li>
    </ul>
  </div>
</nav>
