<nav class="sticky w-25 th top-0 left-0 vh-100 overflow-y-scroll fl bg-ghost-white">
  <header class="ph3">
    <h1 class="f1 fw5 black">CSC488</h1>
    <h2 class="f2 fw5 gray">Compilers and Interpreters</h2>
    <h3 class="f3 fw5 gray-80">Winter 2016</h3>
  </header>
  <div class="w-100">
    <div class="tc">
      <input class="tc f5 pv1 ph2"
             type="text"
             name="sidebar-input"
             id="sidebar-input"
             placeholder="filter"
             value="" />
    </div>
    <ul class="list f5" id="sidebar-search">
        <li class="pv2"><a class="blue link" href="#!">Announcements</a></li>
        <li class="pv2"><a class="blue link" href="#!">Calendar</a></li>
        <li class="pv2"><a class="blue link" href="#!">Syllabus</a></li>
        <li class="pv2"><a class="blue link" href="#!">Lectures</a></li>
        <li class="pv2"><a class="blue link" href="#!">Instructors and TAs</a></li>
        <li class="pv2"><a class="blue link" href="#!">Office Hours</a></li>
        <li id="sb-sublist" class="pv2">
          <a class="blue link" href="#!">Assignments</a>
          <ul>
          <li class="pv2"><a class="blue link" href="#!">Assignment 1</a></li>
          <li class="pv2"><a class="blue link" href="#!">Assignment 2</a></li>
          <li class="pv2"><a class="blue link" href="#!">Assignment 3</a></li>
          <li class="pv2"><a class="blue link" href="#!">Assignment 4</a></li>
          </ul>
        </li>
        <li class="pv2">
          <a class="blue link" href="#!">Tests and Exams</a>
          <ul>
          <li class="pv2"><a class="blue link" href="#!">Midterm 1</a></li>
          <li class="pv2"><a class="blue link" href="#!">Midterm 2</a></li>
          <li class="pv2"><a class="blue link" href="#!">Final Exam</a></li>
          </ul>
        </li>
        <li class="pv2"><a class="blue link" href="#!">Grades</a></li>
        <li class="pv2"><a class="blue link" href="#!">Resources</a></li>
        <li class="pv2"><a class="blue link" href="#!">Feedback</a></li>
        <li class="pv2"><a class="blue link" href="#!">Piazza</a></li>
        <li class="pv2"><a class="blue link" href="#!">Markus</a></li>
    </ul>
  </div>
</nav>
